a { 
    color: black; 
    text-decoration: none; 
} 

.content {
    margin: 2%; 
}

.image-city {
    height: 250px;
    width: 250px;
}

.hotel-view {
    background-color: lightgray;
    width: 40%;
}

/* .list-view {
    background-color: lightgray;
} */


li {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
}

.li-items {
    justify-content: center; 
    vertical-align: top;
}

.li-alignment{
    display: flex;
    justify-content: center;
}

.map-view {
    display: none;

}
